.elementor-kit-4 {
  --e-global-color-primary: #cf0f8e;
  --e-global-color-secondary: #ffffff;
  --e-global-color-text: #e7e7e7;
  --e-global-color-accent: #1b6b93;
  --e-global-color-ff67a91: #050b17;
  --e-global-color-ad40afc: #0d1321;
  --e-global-typography-primary-font-family: "Readex Pro";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-primary-text-decoration: none;
  --e-global-typography-secondary-font-family: "Readex Pro";
  --e-global-typography-secondary-font-size: 22px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-text-decoration: none;
  --e-global-typography-secondary-line-height: 35px;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-text-decoration: none;
  --e-global-typography-accent-font-family: "Readex Pro";
  --e-global-typography-accent-font-size: 18px;
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-accent-text-transform: capitalize;
  --e-global-typography-accent-text-decoration: none;
  --e-global-typography-accent-line-height: 32px;
  --e-global-typography-077e4cf-font-family: "Readex Pro";
  --e-global-typography-077e4cf-font-size: 55px;
  --e-global-typography-077e4cf-font-weight: 800;
  --e-global-typography-077e4cf-text-decoration: none;
  --e-global-typography-077e4cf-line-height: 69px;
  --e-global-typography-9742b99-font-family: "Readex Pro";
  --e-global-typography-9742b99-font-size: 45px;
  --e-global-typography-9742b99-font-weight: 800;
  --e-global-typography-9742b99-text-decoration: none;
  --e-global-typography-9742b99-line-height: 49px;
  --e-global-typography-c151cca-font-family: "Readex Pro";
  --e-global-typography-c151cca-font-size: 35px;
  --e-global-typography-c151cca-font-weight: 800;
  --e-global-typography-c151cca-text-decoration: none;
  --e-global-typography-c151cca-line-height: 39px;
  --e-global-typography-915fb58-font-family: "Readex Pro";
  --e-global-typography-915fb58-font-size: 25px;
  --e-global-typography-915fb58-font-weight: 800;
  --e-global-typography-915fb58-text-decoration: none;
  --e-global-typography-915fb58-line-height: 29px;
  --e-global-typography-51957e0-font-family: "Readex Pro";
  --e-global-typography-51957e0-font-size: 18px;
  --e-global-typography-51957e0-font-weight: 600;
  --e-global-typography-51957e0-text-decoration: none;
  --e-global-typography-51957e0-line-height: 22px;
  --e-global-typography-0c19bf9-font-family: "Readex Pro";
  --e-global-typography-0c19bf9-font-size: 14px;
  --e-global-typography-0c19bf9-font-weight: 500;
  --e-global-typography-0c19bf9-text-decoration: none;
  --e-global-typography-0c19bf9-line-height: 19px;
  --e-global-typography-4349343-font-family: "Readex Pro";
  --e-global-typography-4349343-font-size: 18px;
  --e-global-typography-4349343-font-weight: 600;
  --e-global-typography-4349343-text-decoration: none;
  --e-global-typography-4349343-line-height: 22px;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
  background-color: var(--e-global-color-ff67a91);
}
.elementor-kit-4 a {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  text-decoration: var(--e-global-typography-text-text-decoration);
}
.elementor-kit-4 h1 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-077e4cf-font-family), Sans-serif;
  font-size: var(--e-global-typography-077e4cf-font-size);
  font-weight: var(--e-global-typography-077e4cf-font-weight);
  text-decoration: var(--e-global-typography-077e4cf-text-decoration);
  line-height: var(--e-global-typography-077e4cf-line-height);
  letter-spacing: var(--e-global-typography-077e4cf-letter-spacing);
  word-spacing: var(--e-global-typography-077e4cf-word-spacing);
}
.elementor-kit-4 h2 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-9742b99-font-family), Sans-serif;
  font-size: var(--e-global-typography-9742b99-font-size);
  font-weight: var(--e-global-typography-9742b99-font-weight);
  text-decoration: var(--e-global-typography-9742b99-text-decoration);
  line-height: var(--e-global-typography-9742b99-line-height);
  letter-spacing: var(--e-global-typography-9742b99-letter-spacing);
  word-spacing: var(--e-global-typography-9742b99-word-spacing);
}
.elementor-kit-4 h3 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-c151cca-font-family), Sans-serif;
  font-size: var(--e-global-typography-c151cca-font-size);
  font-weight: var(--e-global-typography-c151cca-font-weight);
  text-decoration: var(--e-global-typography-c151cca-text-decoration);
  line-height: var(--e-global-typography-c151cca-line-height);
  letter-spacing: var(--e-global-typography-c151cca-letter-spacing);
  word-spacing: var(--e-global-typography-c151cca-word-spacing);
}
.elementor-kit-4 h4 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-915fb58-font-family), Sans-serif;
  font-size: var(--e-global-typography-915fb58-font-size);
  font-weight: var(--e-global-typography-915fb58-font-weight);
  text-decoration: var(--e-global-typography-915fb58-text-decoration);
  line-height: var(--e-global-typography-915fb58-line-height);
  letter-spacing: var(--e-global-typography-915fb58-letter-spacing);
  word-spacing: var(--e-global-typography-915fb58-word-spacing);
}
.elementor-kit-4 h5 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-51957e0-font-family), Sans-serif;
  font-size: var(--e-global-typography-51957e0-font-size);
  font-weight: var(--e-global-typography-51957e0-font-weight);
  text-decoration: var(--e-global-typography-51957e0-text-decoration);
  line-height: var(--e-global-typography-51957e0-line-height);
  letter-spacing: var(--e-global-typography-51957e0-letter-spacing);
  word-spacing: var(--e-global-typography-51957e0-word-spacing);
}
.elementor-kit-4 h6 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-0c19bf9-font-family), Sans-serif;
  font-size: var(--e-global-typography-0c19bf9-font-size);
  font-weight: var(--e-global-typography-0c19bf9-font-weight);
  text-decoration: var(--e-global-typography-0c19bf9-text-decoration);
  line-height: var(--e-global-typography-0c19bf9-line-height);
  letter-spacing: var(--e-global-typography-0c19bf9-letter-spacing);
  word-spacing: var(--e-global-typography-0c19bf9-word-spacing);
}
.elementor-kit-4 button,
.elementor-kit-4 input[type="button"],
.elementor-kit-4 input[type="submit"],
.elementor-kit-4 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  text-decoration: var(--e-global-typography-accent-text-decoration);
  line-height: var(--e-global-typography-accent-line-height);
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-accent);
  border-radius: 8px 8px 8px 8px;
  padding: 16px 40px 16px 40px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1295px;
}
.e-con {
  --container-max-width: 1295px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
@media (max-width: 1024px) {
  .elementor-kit-4 h1 {
    font-size: var(--e-global-typography-077e4cf-font-size);
    line-height: var(--e-global-typography-077e4cf-line-height);
    letter-spacing: var(--e-global-typography-077e4cf-letter-spacing);
    word-spacing: var(--e-global-typography-077e4cf-word-spacing);
  }
  .elementor-kit-4 h2 {
    font-size: var(--e-global-typography-9742b99-font-size);
    line-height: var(--e-global-typography-9742b99-line-height);
    letter-spacing: var(--e-global-typography-9742b99-letter-spacing);
    word-spacing: var(--e-global-typography-9742b99-word-spacing);
  }
  .elementor-kit-4 h3 {
    font-size: var(--e-global-typography-c151cca-font-size);
    line-height: var(--e-global-typography-c151cca-line-height);
    letter-spacing: var(--e-global-typography-c151cca-letter-spacing);
    word-spacing: var(--e-global-typography-c151cca-word-spacing);
  }
  .elementor-kit-4 h4 {
    font-size: var(--e-global-typography-915fb58-font-size);
    line-height: var(--e-global-typography-915fb58-line-height);
    letter-spacing: var(--e-global-typography-915fb58-letter-spacing);
    word-spacing: var(--e-global-typography-915fb58-word-spacing);
  }
  .elementor-kit-4 h5 {
    font-size: var(--e-global-typography-51957e0-font-size);
    line-height: var(--e-global-typography-51957e0-line-height);
    letter-spacing: var(--e-global-typography-51957e0-letter-spacing);
    word-spacing: var(--e-global-typography-51957e0-word-spacing);
  }
  .elementor-kit-4 h6 {
    font-size: var(--e-global-typography-0c19bf9-font-size);
    line-height: var(--e-global-typography-0c19bf9-line-height);
    letter-spacing: var(--e-global-typography-0c19bf9-letter-spacing);
    word-spacing: var(--e-global-typography-0c19bf9-word-spacing);
  }
  .elementor-kit-4 button,
  .elementor-kit-4 input[type="button"],
  .elementor-kit-4 input[type="submit"],
  .elementor-kit-4 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-4 {
    --e-global-typography-077e4cf-font-size: 35px;
    --e-global-typography-077e4cf-line-height: 39px;
    --e-global-typography-9742b99-font-size: 30px;
    --e-global-typography-9742b99-line-height: 35px;
    --e-global-typography-c151cca-font-size: 25px;
    --e-global-typography-c151cca-line-height: 29px;
  }
  .elementor-kit-4 h1 {
    font-size: var(--e-global-typography-077e4cf-font-size);
    line-height: var(--e-global-typography-077e4cf-line-height);
    letter-spacing: var(--e-global-typography-077e4cf-letter-spacing);
    word-spacing: var(--e-global-typography-077e4cf-word-spacing);
  }
  .elementor-kit-4 h2 {
    font-size: var(--e-global-typography-9742b99-font-size);
    line-height: var(--e-global-typography-9742b99-line-height);
    letter-spacing: var(--e-global-typography-9742b99-letter-spacing);
    word-spacing: var(--e-global-typography-9742b99-word-spacing);
  }
  .elementor-kit-4 h3 {
    font-size: var(--e-global-typography-c151cca-font-size);
    line-height: var(--e-global-typography-c151cca-line-height);
    letter-spacing: var(--e-global-typography-c151cca-letter-spacing);
    word-spacing: var(--e-global-typography-c151cca-word-spacing);
  }
  .elementor-kit-4 h4 {
    font-size: var(--e-global-typography-915fb58-font-size);
    line-height: var(--e-global-typography-915fb58-line-height);
    letter-spacing: var(--e-global-typography-915fb58-letter-spacing);
    word-spacing: var(--e-global-typography-915fb58-word-spacing);
  }
  .elementor-kit-4 h5 {
    font-size: var(--e-global-typography-51957e0-font-size);
    line-height: var(--e-global-typography-51957e0-line-height);
    letter-spacing: var(--e-global-typography-51957e0-letter-spacing);
    word-spacing: var(--e-global-typography-51957e0-word-spacing);
  }
  .elementor-kit-4 h6 {
    font-size: var(--e-global-typography-0c19bf9-font-size);
    line-height: var(--e-global-typography-0c19bf9-line-height);
    letter-spacing: var(--e-global-typography-0c19bf9-letter-spacing);
    word-spacing: var(--e-global-typography-0c19bf9-word-spacing);
  }
  .elementor-kit-4 button,
  .elementor-kit-4 input[type="button"],
  .elementor-kit-4 input[type="submit"],
  .elementor-kit-4 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
